<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OracleTest" connectionString="User Id=leas;Password=leas;Data Source=localhost" />
    <add name="SqlServerTest" connectionString="Integrated Security=SSPI;Data Source=localhost\SQLEXPRESS;Initial Catalog=leas;Max Pool Size = 10000;Pooling = True" />
  </connectionStrings>
  <appSettings>
    <add key="IMapConnectionDllPath" value="..\..\..\Entity\bin\Debug\Common.dll"/>
    <add key="IMapEntityDllPath" value="..\..\..\Entity\bin\Debug\Entity.dll"/>
  </appSettings>
</configuration>
